<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boss_train.Dao.UserDao">
    <insert id="save" parameterType="com.example.boss_train.Entity.User">
        insert into user (Account,Password) values (#{account},#{password})
    </insert>
    <select id="queryByAccount" parameterType="String" resultType="com.example.boss_train.Entity.User">
        select * from user where Account = #{account}
    </select>
</mapper>